{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block head %}
  <style type="text/css">
dl#history dt + dd {
  border-left: 1px solid black;
}
  </style>
{% endblock %}

{% block breadcrumb %}
  <li><a href="/about">About</a>
{% endblock %}

{% block hamburger %}
  {{ macros.singlePageLinks() }}
{% endblock %}

{% block body %}
<h2>About</h2>
<p>The Stacks project is an ever growing open source textbook and reference work on algebraic stacks and the algebraic geometry needed to define them. Here are some quick facts:
<ol>
  <li><p>The Stacks project is not an introductory text. It is written for graduate students and researchers in algebraic geometry.
  <li><p>The aim is to build algebraic geometry and use this in laying the foundations for algebraic stacks. The theory of commutative algebra, schemes, varieties, and algebraic spaces forms an integral part of the Stacks project.
  <li><p>The Stacks project has a maintainer (currently <a href="https://www.math.columbia.edu/~dejong/">Aise Johan de Jong</a>) who accepts changes etc. proposed by <a href="/contributors">contributors</a>. Everyone is <a href="/contribute">encouraged to participate</a>.
  <li><p>The Stacks project is meant to be <em>read online</em>. Consequently we do not worry about length of the chapters, etc. With hyperlinks and the search function it is possible to quickly browse through the chapters to find the lemmas, theorems, etc. that a given result depends on.
  <li><p>We use <em>tags</em> to identify results, which are permanent identifiers for a result. You can read more about this on the <a href="/tags">tags explained</a> page.
</ol>
<p>For a longer discussion, please read the blog post <a href="https://www.math.columbia.edu/~dejong/wordpress/?p=866">What is the stacks project?</a>

<h2>History</h2>

<dl id="history" class="row">
  <dt class="col-sm-3">July 5, 2005</dt>
  <dd class="col-sm-9">Birth of the idea<dd>
  <dd class="col-sm-9 offset-sm-3">Originally it was meant to be a collaborative web-based project with the aim of writing an introductory text about algebraic stacks. Temporarily there was a mailing list and some discussion as to how to proceed.</dd>

  <dt class="col-sm-3">May 20, 2008</dt>
  <dd class="col-sm-9"><a href="https://github.com/stacks/stacks-project/commit/3d32323ff9f1166afb3ee0ecaa10093dc764a50d">First commit for the Stacks project</a>
  <dd class="col-sm-9 offset-sm-3">It started as 70 pages of preliminary notes. We've come a long way.</dd>

  <dt class="col-sm-3">July 19, 2012</dt>
  <dd class="col-sm-9">The first version of the website <a href="https://www.math.columbia.edu/~dejong/wordpress/?p=2641">goes online</a></dd>
  <dd class="col-sm-9 offset-sm-3">Before that there was a rudimentary tag lookup system (since May 2009, see <a href="https://github.com/stacks/stacks-project/commit/fad2e125112d54e1b53a7e130ef141010f9d151d">fad2e12</a>), but no navigation, rendering, comments, ...</dd>

  <dt class="col-sm-3">July 31&ndash;Aug 4, 2017
  <dd class="col-sm-9">The (first) <a href="https://stacks.github.io/">Stacks project workshop</a>
  <dd class="col-sm-9 offset-sm-3">We had the first Stacks project workshop, with small groups dedicated to studying a topic related to algebraic stacks, and producing new content for the Stacks project.

  <dt class="col-sm-3">May 20, 2018</dt>
  <dd class="col-sm-9">The second version of the website goes online.</dd>
  <dd class="col-sm-9 offset-sm-3">This is what you are looking at right now.</dd>
</dl>

<h2>Workshops</h2>
<p>As mentioned in the history overview, we have had a <a href="https://stacks.github.io">Stacks project workshop</a> in Ann Arbor, from July 31 to August 4 2017. It was a great success.
<p>We will organise a new workshop in the future. Stay tuned for more news (which will be made available via the <a href="https://www.math.columbia.edu/~dejong/wordpress/">Stacks project blog</a>).

<h2>Acknowledgements</h2>
<p>The Stacks project <a href="/acknowledgements">acknowledges the following financial and technical support</a>.
{% endblock %}

{% block sidebar %}
  {{ macros.singlePageLinks() }}
{% endblock %}
