{% extends "layout.html" %}

{% block title %}Acknowledgements{% endblock %}

{% block breadcrumb %}
  <li><a href="/acknowledgements">Acknowledgements</a>
{% endblock %}

{% block body %}
  <h2>Acknowledgements</h2>
  <p>What you see here is the current status of the file <a href="https://github.com/stacks/stacks-project/tree/master/documentation"><var>documentation/support</var></a> in the project. The intent is to list support from institutions that have made the Stacks project possible. If you have participated in the Stacks project and wish to acknowledge support, please contact <a href="mailto:stacks.project@gmail.com">stacks.project@gmail.com</a> and we will add it here.

  <ul>
    {% for acknowledgement in acknowledgements %}
      <li>{{ acknowledgement }}
    {% endfor %}
  </ul>

  <h2>Gerby</h2>
  <p>The website for the Stacks project uses <a href="https://gerby-project.github.io/">Gerby</a> as the underlying system. It was written by <a href="https://pbelmans.ncag.info/">Pieter Belmans</a> and <a href="https://www.math.columbia.edu/~rcheng/">Raymond Cheng</a>. It is an open source system, which combines
  <ul>
    <li>a LaTeX processing tool built using <a href="https://github.com/tiarno/plastex">plastex</a>
    <li>a website built using <a href="http://flask.pocoo.org/">Flask</a>
  </ul>
  <!--<p>Gerby is also used by-->
{% endblock %}

{% block sidebar %}
  {{ macros.singlePageLinks() }}

  <h2>Supporting institutions</h2>
  <div style="text-align: center">
    <a href="https://simonsfoundation.org"><img style="margin-bottom: 30px; margin-top: 10px" width="180" src="/static/images/funding/simons.png"></a>
    <a href="https://columbia.edu"><img style="margin-bottom: 30px" src="/static/images/funding/columbia.jpg"></a>
    <a href="https://nsf.gov"><img width="180" src="/static/images/funding/nsf.gif"></a>
  </div>
{% endblock %}



