{% extends "layout.html" %}

{% block title %}Contributors{% endblock %}

{% block breadcrumb %}
  <li><a href="/contribute">How to contribute</a>
{% endblock %}

{% block hamburger %}
  {{ macros.singlePageLinks() }}
{% endblock %}

{% block body %}
  <p>So far <strong>{{ contributors | length }} people</strong> have contributed to the Stacks project.

  <ul>
    {% for contributor in contributors %}
      <li>{{ contributor }}
    {% endfor %}
  </ul>
{% endblock %}

{% block sidebar %}
  {{ macros.singlePageLinks() }}

  <p class="alert alert-info">If you want to see <a href="https://www.math.columbia.edu/~dejong/wordpress/?p=4205">your name listed in your native script</a>, please <a href="mailto:stacks.project@gmail.com">get in touch</a>.
{% endblock %}

