{% extends "layout.html" %}

{% block title %}Todo{% endblock %}

{% block head %}
{% endblock %}

{% block breadcrumb %}
  <li><a href="/todo">Todo</a>
{% endblock %}

{% block hamburger %}
  {{ macros.singlePageLinks() }}
{% endblock %}

{% block body %}
  <h2>Important</h2>
  <p>Before spending a large amount of time on a contribution for the Stacks project, choose a smaller task, say something you can do in 5 minutes up to an hour. Leave a comment on the website or email the result (usually the modified TeX file) to <a href="mailto:stacks.project@gmail.com">stacks.project@gmail.com</a> and see what it feels like to donate some of your own work to a publicly maintained project. Having done this successfully you can try your hand at some more ambitious projects.
  <p>While making changes or additions, please try to roughly approximate the way things are done in the Stacks project, especially near where you think your material is going to be put. Look a bit at the level of detail given in proofs and take note of the coding style used. This is not the most important thing (the most important thing is the mathematics and its correctness), but it can help incorporating your changes quickly.

  <h2 id="beer">Tasks you can do in 5 minutes</h2>
  <ol>
    <li>Find incompatible notation and correct it. The same mathematical object should be coded in the same way everywhere.
    <li>Read a random section and find small mathematical errors, such as arrows pointing the wrong way, wrong font, sign errors, etc. If they are small enough you can simply correct them, e.g. by suggesting an improvement as a comment, or emailing it. Otherwise, just pointing out something's wrong is also good.
    <li>Provide counterexamples. For example, find a Noetherian ring which is not of finite type over a field, namely $\mathbf{Z}$. Or find a non-Noetherian scheme with Noetherian underlying topological space.
    <li>Look for a missing proof in the preliminarly material that you understand very well, for example algebra, topology, sheaves, fields, etc. Then think of a one or two line proof. If it takes more than 5 minutes, skip to the next one (see also below).
  </ol>
  <p>For many of these tasks the commenting system available on the website suffices. Just look up the tag and post a comment, we will deal with the actual change in the Stacks project.</p>

  <h2 id="tea">Tasks you can do in 30 minutes to an hour</h2>
  <ol>
	  <li>This <a href="/search?query=omit*&page=1&perpage=50&radius=all">search</a> will find lemmas where either part of the proof or the whole proof has been omitted. Find the missing argument, write it up, and send it in. Please report it if you find a case where you think a new idea is required or where it is just totally unclear how to start.
    <li>Check for missing internal references. Generally speaking the goal is to refer to all of the previous lemmas, propositions, theorems used in a proof. Go through some of the proofs and check if previous results are used without referencing them.
    <li>Find mathematical mistakes. When reporting this it is very helpful if you can point out what went wrong and (if possible) how to fix it.
    <li>Find superfluous assumptions.
    <li>Find missing assumptions.
    <li>Suppose lemmas A and B are used together in multiple proofs. Then it is often the case that A and B imply a lemma C (which may exist or not) and the places where A and B are used should be checked to see if lemma C can be used instead.
  </ol>
  <p>Again, many of these can be done using the commenting system, but some will require you to at least email the TeX you wrote.</p>

  <h2 id="coffee">Tasks you can do over longer stretches of time</h2>
  <ol>
    <li>Split longer proofs into pieces by finding intermediate results.
    <li>Find alternative proofs (but beware of creating circular arguments).
    <li>Write introductions, overviews of already existing material.
    <li>Add a section on your favorite topic.
  </ol>
  <p>Here you should probably email your TeX file or make a pull request.</p>
{% endblock %}

{% block sidebar %}
  {{ macros.singlePageLinks() }}
{% endblock %}

