{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block body %}
<h2>About</h2>
<p>This is a <strong>test version</strong> of the new framework for the Stacks project (and other similar projects).

<p>If you encounter an issue, please create an issue at
<ul>
  <li><a href="https://github.com/pbelmans/plastex"><code>pbelmans/plastex</code></a> if it relates to what a single tag looks like
  <li><a href="https://github.com/pbelmans/gerby-website"><code>pbelmans/gerby-website</code></a> if it relates to anything else
</ul>

<p>This is a <a href="test.pdf">link to a pdf</a>.
<p>This is a <a href="test.rss">link to an rss file</a>.
<p>This is a <a href="https://mathscinet.ams.org/mathscinet-getitem?mr=3644251">link to MathSciNet</a>.
<p>This is a <a href="https://arxiv.org/abs/math/0602642">link to arXiv</a>.
<p>This is a <a href="https://doi.org/10.1016/j.jalgebra.2017.05.024">link to DOI</a>.
{% endblock %}
