{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block body %}
<h2>About</h2>
<p>This is a <strong>test version</strong> of the new framework for the Stacks project (and other similar projects).

<p>If you encounter an issue, please create an issue at
<ul>
  <li><a href="https://github.com/pbelmans/plastex"><code>pbelmans/plastex</code></a> if it relates to what a single tag looks like
  <li><a href="https://github.com/pbelmans/gerby-website"><code>pbelmans/gerby-website</code></a> if it relates to anything else
</ul>
{% endblock %}
