section#comments {
}

section#comments blockquote {
  margin: 0 calc(20rem / 14);
}

form#comment-form label {
  width: calc(80rem / 14);
  text-align: right;
}

form#comment-form textarea {
  width: 100%;
}

span.cm-strong {
  font-weight: normal !important;
}

span.cm-em {
  font-style: normal !important;
}

section#post-comment > h2 {
  background-repeat: no-repeat;
  background-position: right top;
  background-origin: content-box;
}

section#post-comment > h2:not(.hidden) {
  background-image: url("/static/images/minus.svg");
}

section#post-comment > h2.hidden {
  background-image: url("/static/images/plus.svg");
}
