@media print {
  html {
    font-size: 16px;
  }

  /* TODO fix logo: can we make an SVG logo and then use content: SVG? */

  nav#header,
  div#burger,
  section#meta,
  div#tag ~ * {
    display: none;
  }

  div#first-bar,
  nav#second-bar {
    background-color: transparent;
  }

  ul#crumbs li,
  ul#crumbs li.active {
    display: block;
    float: none;
    margin-left: 0;
    padding 0;
    color: black;
  }

  ul#crumbs li + li::before {
    display: none;
  }

  ul#crumbs li:first-child {
    display: none;
  }

  span#citation {
    display: none;
  }

  a {
    color: black;
  }
}
