ol#search-results {
  padding: 0;
}

div.preview {
  display: none;
}

span.previewable {
  display: block;
  float: left;
  margin-right: calc(3rem / 14);
  cursor: pointer;
}

ul#pages li {
  margin-bottom: .5rem;
  width: 3rem;
  text-align: center;
}

ol#search-results div.html li:before {
  left: 3.5em;
}

ol#search-results div.html li li:before {
  left: 6.5em;
}

nav#results-per-page p {
  margin-left: .5rem;
  margin-top: .4rem;
}

form#search button {
  float: right;
}
