ol#search-results {
  padding: 0;
}

div.preview {
  display: none;
}

span.previewable {
  display: block;
  float: left;
  margin-right: calc(3rem / 14);
  cursor: pointer;
  width: 1.3rem;
  height: 1.2rem;
  background-image: url("/static/images/search.svg");
  background-position: left .1rem;
  background-repeat: no-repeat;
}

span.previewing {
  background-image: url("/static/images/search.svg");
}

ul#pages li {
  margin-bottom: .5rem;
  width: 3rem;
  text-align: center;
}

ol#search-results div.html li:before {
  left: 3.5em;
}

ol#search-results div.html li li:before {
  left: 6.5em;
}

ol#search-results article p:last-child {
  margin-bottom: 0;
}

nav#results-per-page p {
  margin-left: .5rem;
  margin-top: .4rem;
}

form#search button {
  float: right;
}
