div#search-results {
  padding: 0;
}

div.preview {
  display: none;
}

span.previewable {
  display: block;
  float: left;
  margin-right: calc(3rem / 14);
  cursor: pointer;
  width: 1.3rem;
  height: 1.2rem;
  background-image: url("/static/images/search.svg");
  background-position: left .1rem;
  background-repeat: no-repeat;
}

span.previewing {
  background-image: url("/static/images/search.svg");
}

ul#pages li {
  margin-bottom: .5rem;
  width: 3rem;
  text-align: center;
}

div#search-results div.html li:before {
  left: 3.5em;
}

div#search-results div.html li li:before {
  left: 6.5em;
}

div#search-results article p:last-child {
  margin-bottom: 0;
}

nav#results-per-page {
  margin-top: 1rem;
}

nav#results-per-page p {
  margin-left: .5rem;
  margin-top: .4rem;
}

form#search button {
  float: right;
}

ul.search-pages li {
  font-size: .9rem;
}

li.ellipsis,
li.previous-search-page,
li.next-search-page {
  width: 2.2rem;
  height: 2.2rem;
  margin-top: .5rem;
  text-align: center;
}

li.previous-search-page a,
li.next-search-page a {
  display: block;
  width: 100%;
  height: 100%;
}

ul.search-pages li.inactive {
  visibility: hidden;
}
