@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

body {
  font-family: "Droid Sans", Arial, sans-serif;
  color: #000;
  font-size: 14px;
}

div.bounded {
  max-width: 980px;
}

a {
  text-decoration: none;
  color: #1d5cb4;
}

a:hover {
  text-decoration: underline;
}

.crumbs {
  padding: 0;
  list-style: none;
  margin: auto 0;
}

input#burger-input {
  display: none;
}

label#burger-icon {
}

label#burger-icon span {
  display: block;
  position: relative;
  width: 1.6em;
  height: 3px;
  border-radius: 3px;
  background-color: black;
  margin-top: 5px;
  transition: all 0.1s ease-in-out;
}

input#burger-input:checked + label#burger-icon span#top-bun {
  transform: rotate(-45deg);
  margin-top: 10px;
}

input#burger-input:checked + label#burger-icon span#meat {
  transform: rotate(45deg);
  margin-top: -3px;
}

input#burger-input:checked + label#burger-icon span#bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}

input#burger-input:checked + label#burger-icon + div#burger {
  display: block;
}

div#burger {
  display: none;
  position: absolute;
  width: 250px;
  top: 30px;
  margin-left: -235px;
  padding: 5px;
  background-color: #f9f8f4;
  z-index: 2;
}

ul.crumbs li + li::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #636c72;
  content: "/";
}

ul.crumbs li {
  float: left;
}

ul.crumbs li.active {
  color: #636c72;
}

header.col {
  padding-left: 0;
}

header h1 {
  float: left;
  padding: 0;
  margin: 0;
  margin-top: 3px;
  font-size: 22px;
  font-weight: bold;
}

header h1 a {
  display: block;
  padding-left: 30px;
  height: 100%;
  background-image: url('/static/stacks.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 24px;
  color: black;
  text-decoration: none;
}

div.main {
  padding-left: 20px;
  padding-right: 20px;
}

div.topbar {
  background-color: #d9d8d1;
}

div.inner-top {
  padding: 10px;
}

nav#header {
  padding: 0;
  margin: 0;
  position: relative;
  padding-top: 3px;
}

form#quicksearch input {
  border-radius: 5px;
  border-style: solid;
  border-width: 0;
}

nav#header > * {
  display: inline-block;
}

nav#header ul#quicklinks {
  margin: 0 20px 0 0;
}

nav#header ul#quicklinks li {
  display: inline-block;
  margin-left: 10px;
}

nav#second-bar {
  padding: 10px;
  background-color: #edece6;
}

div#content {
  padding: 10px;
}

section#main {
  padding: 0;
}

section#meta {
  padding: 0 10px;
}

@media screen and (min-width: 740px) {
  div#burger-restaurant {
    display: none;
  }
}

@media screen and (max-width: 740px) {
  section#meta {
    display: none;
  }

  ul#quicklinks {
    display: none;
  }

  div#burger-restaurant {
    display: block;
  }
}

.tag {
  font-family: "Inconsolata", monospace;
}

h2 {
  font-size: 1.4em;
  font-weight: bold;
}

a[href^="https://github.com"],
a[href^="https://doi.org"],
a[href^="https://arxiv.org"],
a[href^="https://mathscinet.ams.org"],
a[href*="pdf"],
a[href*="rss"] {
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 18px;
  min-height: 16px;
  background-size: 16px;
}

a[href^="https://github.com"] {
  background-image: url("../images/icon.github.png");
}

a[href^="https://doi.org"] {
  background-image: url("../images/icon.doi.png");
}

a[href^="https://arxiv.org"] {
  background-image: url("../images/icon.arxiv.png");
}

a[href^="https://mathscinet.ams.org"] {
  background-image: url("../images/icon.ams.png");
}

a[href*="pdf"] {
  background-image: url("../images/icon.pdf.png");
}

a[href*="rss"] {
  background-image: url("../images/icon.rss.png");
}
