@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

@import url("bibliography.css");
@import url("browse.css");
@import url("search.css");
@import url("tag.css");
@import url("tree.css");

html {
  font-size: 13px;
}

nav#header > * {
  display: inline-block;
}

section#meta,
ul#quicklinks {
  display: none;
}

@media (min-width: 992px) {
  section#meta {
    display: block;
  }

  ul#quicklinks {
    display: inline-block;
  }

  div#burger {
    display: none;
  }
}

body {
  font-family: "Droid Sans", Arial, sans-serif;
  color: #000;
}

div.bounded {
  max-width: calc(980rem / 14);
}

a {
  text-decoration: none;
  color: #1d5cb4;
  transition: color 0.2s ease;
}

a:hover {
  text-decoration: underline;
  color: #0d1cb4;
}

ul#crumbs {
  padding: 0;
  list-style: none;
  margin: auto 0;
  vertical-align: center;
  min-width: 2rem;
}

div#burger {
  text-align: right;
  padding: 0;
}

input#burger-input {
  display: none;
}

label#burger-icon {
  margin-bottom: 0 !important;
  height: calc(6rem / 4);
}

label#burger-icon span {
  display: block;
  position: relative;
  width: calc(23rem / 14);
  height: calc(3rem / 14);
  border-radius: calc(3rem / 14);
  background-color: black;
  margin-top: calc(4rem / 14);
  transition: all 0.1s ease-in-out;
}

input#burger-input:checked + label#burger-icon span#top-bun {
  transform: rotate(-45deg);
  margin-top: calc(9rem / 14);
}

input#burger-input:checked + label#burger-icon span#meat {
  transform: rotate(45deg);
  margin-top: calc(-2.5rem / 14);
}

input#burger-input:checked + label#burger-icon span#bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}

input#burger-input:checked + label#burger-icon + div#burger-content {
  display: block;
}

div#burger-content {
  display: none;
  position: absolute;
  width: calc(250rem / 14);
  top: calc(30rem / 14);
  margin-left: calc(-135rem / 14);
  padding: calc(5rem / 14);
  background-color: #f9f8f4;
  z-index: 2;
  text-align: left;
}

ul#crumbs li + li::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #636c72;
  content: "/";
}

ul#crumbs li {
  float: left;
}

ul#crumbs li.active {
  color: #636c72;
}

header.col {
  padding-left: 0;
}

header h1 {
  float: left;
  padding: 0;
  margin: 0;
  margin-top: calc(3rem / 14);
  font-size: calc(22rem / 14);
  font-weight: bold;
}

header h1 a {
  display: block;
  padding-left: calc(30rem / 14);
  height: 100%;
  background-image: url('/static/stacks.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: calc(24rem / 14);
  color: black;
  text-decoration: none;
}

div.main {
  padding-left: calc(20rem / 14);
  padding-right: calc(20rem / 14);
}

div#first-bar {
  background-color: #d9d8d1;
}

div.inner-top {
  padding: calc(10rem / 14);
}

nav#header {
  padding: 0;
  margin: 0;
  position: relative;
  padding-top: calc(3rem / 14);
}

form#quicksearch input {
  border-radius: calc(5rem / 14);
  border-style: solid;
  border-width: 0;
}

nav#header ul#quicklinks {
  margin: 0 calc(20rem / 14) 0 0;
}

nav#header ul#quicklinks li {
  display: inline-block;
  margin-left: calc(10rem / 14);
}

nav#second-bar {
  padding: calc(10rem / 14);
  background-color: #edece6;
}

div#content {
  padding: calc(10rem / 14);
}

section#main {
  padding: 0;
}

section#meta {
  padding: 0 calc(10rem / 14);
}

.tag {
  font-family: "Inconsolata", monospace;
}

h2 {
  font-size: 1.4em;
  font-weight: bold;
}

a[href^="https://github.com"],
a[href^="https://doi.org"],
a[href^="https://arxiv.org"],
a[href^="https://mathscinet.ams.org"],
a[href*="pdf"],
a[href*="rss"] {
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: calc(18rem / 14);
  min-height: calc(16rem / 14);
  background-size: calc(16rem / 14);
}

a[href^="https://github.com"] {
  background-image: url("../images/icon.github.png");
}

a[href^="https://doi.org"] {
  background-image: url("../images/icon.doi.png");
}

a[href^="https://arxiv.org"] {
  background-image: url("../images/icon.arxiv.png");
}

a[href^="https://mathscinet.ams.org"] {
  background-image: url("../images/icon.ams.png");
}

a[href*="pdf"] {
  background-image: url("../images/icon.pdf.png");
}

a[href*="rss"] {
  background-image: url("../images/icon.rss.png");
}
