ul.neighbours {
  list-style-type: none;
  padding-left: 0;
}

ul.neighbours li {
  padding: 0;
  margin: 0;
}

ul.neighbours li.left {
  float: left;
}

ul.neighbours li.left a:before {
  content: "<< ";
}

ul.neighbours li.right {
  float: right;
}

ul.neighbours li.right a:after {
  content: " >>";
}

div.html {
  overflow-x: scroll;
}

div.html::-webkit-scrollbar {
  display: none;
}

div.html h1 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

div.html h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

div.html h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

div.html article.env-theorem,
div.html article.env-proposition,
div.html article.env-lemma {
  font-style: italic;
}

div.html a.environment-identifier {
  font-style: normal;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

div.html a.environment-identifier:hover {
  text-decoration: underline;
}

div.html a.environment-identifier span.named {
  font-weight: normal;
}

div.html li p {
}

div.html article.env-proof {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div.html article.env-proof p:nth-of-type(1),
div.html article.env-proof p:nth-of-type(2) {
  display: inline;
}

div.html article.env-proof span.qed {
  float: right;
  margin-top: 0;
}

div.html div.equation span.equation-label {
  float: left;
}

div.html div.equation span.equation-label::before {
  content: "(";
}

div.html div.equation span.equation-label::after {
  content: ")";
}

span.toggle {
  display: block;
}

span.toggle input {
  margin-right: .5em;
}

span.toggle label {
  margin-bottom: .2em;
}
