ul.neighbours {
  list-style-type: none;
  padding-left: 0 !important;
}

ul.neighbours li {
  padding: 0;
  margin: 0;
}

ul.neighbours li.left {
  float: left;
}

ul.neighbours li.left a:before {
  content: "\ab";
  margin-right: .3em;
}

ul.neighbours li.right {
  float: right;
}

ul.neighbours li.right a:after {
  content: "\bb";
  margin-left: .3em;
}

div.html {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: justify;
  padding-right: 0.5rem;
}

div.html div.equation {
  overflow-x: -moz-scrollbars-none;
}

div.html div.equation::-webkit-scrollbar {
  display: none;
}

p + div.equation {
  margin-top: -1rem;
}

div.html h1 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

div.html h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

div.html h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

div.html ul li p:only-child,
div.html ol li p:only-child {
  margin-bottom: .3rem;
}

div.html ol {
  counter-reset: ol;
}

div.html ol > li,
div.html ol ol > li {
  list-style-type: none;
}

div.html ol > li:before {
  counter-increment: ol;
  content: "(" counter(ol, decimal) ") ";
  position: absolute;
  left: 0em;
  display: inline-block;
  text-align: right;
  width: 1.5em;
  font-style: normal;
}

div.html ol ol {
  counter-reset: olol;
}

div.html ol ol > li:before {
  counter-increment: olol;
  content: "(" counter(olol, lower-alpha) ") ";
  position: absolute;
  left: 3em;
  display: inline-block;
  text-align: right;
  width: 2em;
  font-style: normal;
}

div.html ul.tree {
  text-align: left;
}

div.html article.env-theorem,
div.html article.env-proposition,
div.html article.env-lemma {
  font-style: italic;
}

div.html a.environment-identifier {
  font-style: normal;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

div.html a.environment-identifier:hover {
  text-decoration: underline;
}

div.html a.environment-identifier span.named {
  font-weight: normal;
}

div.html article.env-proof {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div.html article.env-proof span.qed {
  float: right;
  margin-top: 0;
}

div.html div.equation {
  display: flex;
  align-items: center;
}

div.html div.equation > div {
  margin: 0.5em auto;
}

div.html div.equation span.equation-label {
  float: left;
  margin-right: 1rem;
}

div.html div.equation span.equation-label::before {
  content: "(";
}

div.html div.equation span.equation-label::after {
  content: ")";
}

div.html article a.btn {
  margin-left: .3em;
  font-style: normal;
}

div.preview {
  margin-left: 1.5em;
}

span.toggle {
  display: block;
}

span.toggle input {
  margin-right: .5em;
}

span.toggle label {
  margin-bottom: .2em;
}

p.slogan strong {
  font-weight: normal;
  text-decoration: underline;
}

p.slogan:before {
  content: "Slogan: ";
  font-weight: bold;
}

p.history:before {
  content: "Historical remark: ";
  font-weight: bold;
}

p.reference:before {
  content: "Reference: ";
  font-weight: bold;
}

table#history {
}

table#history tr:nth-child(odd) td:nth-child(1) {
  background-image: url("/static/images/plus.svg");
  background-repeat: no-repeat;
  background-position: right .4rem;
  padding-right: 1rem;
}

table#history tr:nth-child(odd) td.clicked:nth-child(1) {
  background-image: url("/static/images/minus.svg");
}

table#history tr:nth-child(odd) td:nth-child(2) {
  width: 7rem;
}

table#history tr:nth-child(odd) td:nth-child(3) {
  width: 5rem;
}

table#history tr:nth-child(even) td {
  border-top: none;
}

table#history tr:nth-child(even):hover {
  background-color: transparent;
}

table#history pre.commit-message {
  margin-top: 1rem;
  font-size: .8rem;
}

div.information ul.tag-info {
  list-style-type: none;
  padding-left: 0;
}

div.information ul.tag-info li {
  margin-bottom: .5rem;
  margin-left: 0;
  padding-left: 0;
}

div.information ul.tag-info li a {
  background-repeat: no-repeat;
  padding-left: 1.5rem;
}

li.tag-history a {
  background-image: url("../images/clock.svg");
}

li.tag-statistics a {
  background-image: url("../images/graph.svg");
}

li.tag-dependencies a {
  background-image: url("../images/dependency.svg");
}

li.custom-item {
  list-style-type: none;
}

li.custom-item[data-marker]:before {
  content: attr(data-marker) !important;
}

li.custom-item p {
  display: inline-block;
}

ul#citations {
  font-size: .9rem;
  list-style-type: none;
  padding-left: 0;
}

ul#citations li {
  margin-bottom: .4rem;
}

button.clipboard {
  -webkit-appearance: none;
  background-color: white;
}

button.clipboard:hover {
  background-color: #f5f5dc;
}

ul + span.qed,
ol + span.qed {
  margin-top: -2.5rem !important;
}
