ul#toc li strong {
  font-size: 1.1rem;
}

ul#toc ul li {
  margin: 0;
  padding: .3rem;
}

ul#toc ul li:hover {
  background-color: #f6f6f0;
}

ul#toc li li p {
  display: inline-block;
  margin: 0;
}

ul#toc .pdf-link {
  float: right;
  display: none; /* hide by default, turn it on with media query */
}
