{% extends "layout.html" %}

{% set index = true %}

{% block title %}Index{% endblock %}

{% block body %}
  <ul id="index-select">
    <li id="index-browse"><a href="/browse">table of contents<img src="/static/images/list-ordered.svg"></a>
    <li id="index-about"><a href="/about"><img src="/static/images/info.svg">about</a>
    <li id="index-search"><a href="/search">search<img src="/static/images/search.svg"></a>
    <li id="index-blog"><a href="https://www.math.columbia.edu/~dejong/wordpress/"><img src="/static/images/blog.svg">blog</a>
    <li id="index-bibliography"><a href="/bibliography">bibliography<img src="/static/images/bibliography.svg"></a>
    <li id="index-github"><a href="https://github.com/stacks/stacks-project"><img src="/static/images/github.svg">GitHub</a>
    <li id="index-comments"><a href="/recent-comments">comments<img src="/static/images/comments.svg"></a>
    <li id="index-changes"><a href="/recent-changes"><img src="/static/images/diff.svg">recent changes</a>
  </ul>
{% endblock %}

{% block tagline %}
  <em style="display: block; margin: auto; text-align: center">an open source textbook and reference work on algebraic geometry</em>
{% endblock %}

{% block sidebar %}
  <h3><a href="/recent-comments">Recent comments</a></h3>
  <ul>
    {% for comment in comments %}
      <li>
        <time datetime="{{ comment.date }}">{{ comment.date.strftime("%b %d %Y") }}</time>:
        <a href="/tag/{{ comment.tag.tag }}#comment-{{ comment.id }}">tag&nbsp;<span class="tag">{{ comment.tag.tag }}</span></a>
        by <cite>{{ comment.author }}</cite>
    {% endfor %}
  </ul>

  {% for update in updates %}
    <h3>{{ update.title | safe }}</h3>
    <ul>
      {% for item  in update.entries %}
        <li>{{ item | safe }}
      {% endfor %}
    </ul>
  {% endfor %}

  <h3><a href="/statistics">Statistics</a></h3>

  <p class="mb-1">The Stacks project now consists of
  <ul>
    {% for statistic in statistics %}
      <li>{{ statistic | safe }}
    {% endfor %}
  </ul>
{% endblock %}
