{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block body %}
<ul id="index-select">
  <li id="index-browse"><a href="/browse">table of contents<img src="/static/images/list-ordered.svg"></a>
  <li id="index-about"><a href="/about"><img src="/static/images/info.svg">about</a>
  <li id="index-search"><a href="/search">search<img src="/static/images/search.svg"></a>
  <li id="index-blog"><a href="#"><img src="/static/images/blog.svg">blog</a>
  <li id="index-bibliography"><a href="/bibliography">bibliography<img src="/static/images/bibliography.svg"></a>
  <li id="index-github"><a href="https://github.com/stacks/stacks-project"><img src="/static/images/github.svg">GitHub</a>
  <li id="index-comments"><a href="/recent-comments">comments<img src="/static/images/comments.svg"></a>
</ul>
{% endblock %}

{% block sidebar %}
  {% for update in updates %}
    <h2>{{ update.title | safe }}</h2>
    <ul>
      {% for item  in update.entries %}
        <li>{{ item | safe }}
      {% endfor %}
    </ul>
  {% endfor %}

<h2><a href="/recent-comments">Recent comments</a></h2>
<ul>
  <li>23 Nov 2017: <a title="in section 32.35 Frobenii" href="/tag/0CC6#comment-3007">tag&nbsp;<span class="tag">0CC6</span></a>, by Fei Hu
  <li>21 Nov 2017: <a title="in section 32.34 Coherent sheaves on projective space" href="/tag/08A9#comment-3006">tag&nbsp;<span class="tag">08A9</span></a>, by Noah Olander
  <li>21 Nov 2017: <a title="in section 49.15 Glueing and squishing" href="/tag/0C1N#comment-3005">tag&nbsp;<span class="tag">0C1N</a>, by James Waldron
  <li>21 Nov 2017: <a title="in section 49.15 Glueing and squishing" href="/tag/0C1M#comment-3004">tag&nbsp;<span class="tag">0C1M</span></a>, by James Waldron
  <li>17 Nov 2017: <a title="in section 12.3 Preadditive and additive categories" href="/tag/09SE#comment-3003">tag&nbsp;<span class="tag">09SE</span></a>, by Herman Rohrbach
  <li>17 Nov 2017: <a title="in section 12.3 Preadditive and additive categories" href="/tag/09SE#comment-3002">tag&nbsp;<span class="tag">09SE</span></a>, by Herman Rohrbach
</ul>

<p>The Stacks project now consists of
<ul>
  {% for statistic in statistics %}
    <li>{{ statistic | safe }}
  {% endfor %}
</ul>
{% endblock %}
