<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <title>{% block title %}{% endblock %}&mdash;Stacks Project</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tag.css') }}">

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      extensions: ['tex2jax.js'],
      jax: ['input/TeX','output/HTML-CSS'],
      TeX: {
        extensions: ['AMSmath.js', 'AMSsymbols.js', '/static/XyJax/extensions/TeX/xypic.js'],
        Macros: {
          linebreak: ["", 1, ""],
          },
        TagSide: 'left'
      },
      tex2jax: {
        inlineMath: [['$','$']],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      },
      'HTML-CSS': { scale: 100 }
    });
  </script>
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js">
  </script>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-bonsai/jquery.bonsai.css') }}">
  <script type="text/javascript" src="/static/jquery-bonsai/jquery.bonsai.js"></script>

  <link rel="icon" type="image/vnd.microsoft.icon" href="/static/stacks.ico">
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/static/stacks.ico">
</head>

<body>
  <header>
    <h1><a href="/">The Stacks Project</a></h1>
  </header>
  <nav>
    <ul id="mobile-nav-1">
      <li><a href="/browse">browse</a>
      <li>
        <form id="quicksearch" action="/search">
          <input type="search" name="query" id="query">
          <!--<button type="submit">-->
        </form>
    </ul>

    <ul id="mobile-nav-2">
      <li><a href="/about">about</a>
      <li><a href="/browse">tags</a>
      <li><a href="/bibliography">bibliography</a>
    </ul>
  </nav>

  <div id="body">
    <section id="main">
      {% macro tagURL(tag) -%}/tag/{{ tag }}{%- endmacro %}

      {% block body %}{% endblock %}
    </section>
    <section id="meta">
    </section>
  </div>

  <script type="text/javascript">
link.click(function() {
  $("*[data-tag]").each(function(index, reference) {
    var value = $(reference).attr("data-tag");
    $(reference).attr("data-tag", $(reference).text())
    $(reference).text(value);
  });
});
  </script>

</body>
</html>
