<!doctype html>
<html>
<head>

{% macro tagURL(tag) -%}/tag/{{ tag }}{%- endmacro %}

<meta charset="utf-8">

<title>{% block title %}{% endblock %}&mdash;Stacks Project</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bibliography.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tag.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tree.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/browse.css') }}">

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      extensions: ['tex2jax.js'],
      jax: ['input/TeX','output/HTML-CSS'],
      TeX: {
        extensions: ['AMSmath.js', 'AMSsymbols.js', '/static/XyJax/extensions/TeX/xypic.js'],
        Macros: {
          linebreak: ["", 1, ""],
          },
        TagSide: 'left'
      },
      tex2jax: {
        inlineMath: [['$','$']],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      },
      'HTML-CSS': { scale: 100 }
    });
  </script>
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js">
  </script>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-bonsai/jquery.bonsai.css') }}">
  <script type="text/javascript" src="/static/jquery-bonsai/jquery.bonsai.js"></script>

  <link rel="icon" type="image/vnd.microsoft.icon" href="/static/stacks.ico">
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/static/stacks.ico">
</head>

<body>
<div class="container-fluid bounded">
  <div class="row topbar inner-top top">
    <header class="col">
      <h1><a href="/">The Stacks Project</a></h1>
    </header>

    <nav id="header">
      <ul id="quicklinks">
        <li><a href="/bibliography">bibliography</a>
        <li><a href="http://math.columbia.edu/~dejong/wordpress/">blog</a>
      </ul>

      <form id="quicksearch" action="/search">
        <input type="search" name="query" placeholder="keywords or a tag"{% if not search %} autofocus{% endif %}></input>
      </form>
    </nav>
  </div>

  <nav id="second-bar" class="row topbar sticky-top">
    <ul class="crumbs col-11">
      <li class="crumb"><a href="/browse">Table of contents</a></li>
      {% block breadcrumb %}{% endblock %}
    </ul>

    <div class="col-1" id="burger-restaurant">
      <input type="checkbox" id="burger-input"></input>

      <label id="burger-icon" for="burger-input">
        <span id="top-bun"></span>
        <span id="meat"></span>
        <span id="bottom-bun"></span>
      </label>

      <div id="burger">
        more text outside
        <ul>
          <li>hi
          <li>hello
          <li>longer piece of text
        </ul>

        {% block hamburger %}{% endblock %}
      </div>
    </div>

  </nav>

  <div class="row" id="content">
    <section id="main" class="col">
      {% block body %}{% endblock %}
    </section>

    <section id="meta" class="col-4">
      {% block neighbours %}{% endblock %}

      <p>This is on <a href="#">page 48</a> of the <a href="#">pdf</a>.

      <p>The code for this tag can be found on <a href="#">line&nbsp;382 of <var>etale.tex</var></a>

      <p><strong>Actions</strong>
      <ul id="actions">
        <li><a id="toggle-numbers" href="#">toggle numbering</a>
        <li><a id="toggle-proofs" href="#">toggle proofs</a>
        <li><a href="#">statistics</a>
        <li><a href="#">history</a>
      </ul>

      <script type="text/javascript">
$("a#toggle-numbers").click(function() {
  $("*[data-tag]").each(function(index, reference) {
    $(reference).toggleClass("tag");

    var value = $(reference).attr("data-tag");
    $(reference).attr("data-tag", $(reference).text())
    $(reference).text(value);
  });
});

$("a#toggle-proofs").click(function() {
  $(".env-proof *").toggle();
  // TODO maybe show something like "Proof. [hidden]"
  // do want then to toggle individual proofs?
  // TODO also: don't show proof toggle when there are no proofs
});
      </script>
      <!-- TODO implement toggle between proofs and no proofs, and numbers versus tags
        for inspiration, see https://ux.stackexchange.com/questions/1318/should-a-toggle-button-show-its-current-state-or-the-state-to-which-it-will-chan

        i.e. I want something like
        proofs    off [ |x] on
        labels   tags [ |x] numbers
      -->
    </section>
  </div>

</body>
</html>
