{% set search = true %}

{% extends "layout.html" %}

{% block title %}Search{% endblock %}

{% block body %}
<h2>Search</h2>
<form action="/search">
  <label for="query">Keywords</label>
  <input type="search" class="form-control" name="query" id="query" placeholder="keywords or a tag" autofocus value="{{ query | e }}">
</form>

<hr>

<h2>{{ count }} result{% if count != 1 %}s{% endif %}</h2>

<ol>

  {% if tree %}
    <ul class="tree">
    {% for item in tree recursive %}
      <li class="expanded">
      {{ item.type | capitalize }} <a href="{{ tagURL(item.tag) }}" data-tag="{{ item.tag }}">{{ item.ref }}</a>{% if item.labelname.name %}: {{ item.labelname.name | safe }}{% endif %}

      {% if item.type not in headings %}
        <div class="html preview">
          {{ item.html | safe }}
        </div>
      {% endif %}

      {% if item.children %}
        <ul>{{ loop(item.children) }}</ul>
      {% endif %}
    {% endfor %}
    </ul>
    <script type="text/javascript">
$("ul.tree").bonsai({
  addExpandAll: true,
});

// CSS doesn't have a parent selector so we mimick it in jQuery
$("ul.tree li div.preview").parent().prepend("<span class='previewable'>&#128269;</span>")
$("span.previewable").click(function(e) {
  $(e.target).siblings("div.preview").toggle()
});
    </script>
  {% endif %}
</ol>
{% endblock %}
