{% set search = true %}

{% extends "layout.html" %}

{% block title %}Search{% endblock %}

{% block head %}
  <script type="text/javascript" src="/static/js/toggle.js"></script>
{% endblock %}

{% block breadcrumb %}
  <li><a href="/search">Search</a>
{% endblock %}

{% block sidebar %}
  <div id="interaction"></div>
{% endblock %}

{% block hamburger %}
{% endblock %}

{% block body %}
<h2>Search</h2>
<form action="/search">
  <label for="query">Keywords</label>
  <input type="search" class="form-control" name="query" id="query" placeholder="keywords or a tag" autofocus value="{{ query | e }}">
</form>

<hr>

<h2>{% if count == 0 %}No{% else %}{{ count }}{% endif %} result{% if count != 1 %}s{% endif %}</h2>

<ol id="search-results">

  {% if tree %}
    <ul class="tree">
    {% for item in tree recursive %}
      <li class="expanded">
      <span class="preview-title">{{ item.type | capitalize }} <a href="{{ tagURL(item.tag) }}" data-tag="{{ item.tag }}">{{ item.ref }}</a>{% if item.name %}: {{ item.name | safe }}{% endif %}</span>

      {% if item.type not in headings %}
        <div class="html preview tex2jax_ignore">
          {{ item.html | safe }}
        </div>
      {% endif %}

      {% if item.children %}
        <ul>{{ loop(item.children) }}</ul>
      {% endif %}
    {% endfor %}
    </ul>

    <script type="text/javascript">
$("ul.tree").bonsai({
  addExpandAll: true,
});

// CSS doesn't have a parent selector so we mimick it in jQuery
$("ul.tree li div.preview").parent().prepend("<span class='previewable'>&#128269;</span>")

$("span.previewable").click(function(e) {
  $(e.target).siblings("div.preview").toggle();
  $(e.target).siblings("span.preview-title").toggle();

  // update MathJax
  $(e.target).siblings("div.preview").removeClass("tex2jax_ignore");
  MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
});
    </script>
  {% endif %}
</ol>
{% endblock %}
