{% set search = true %}

{% extends "layout.html" %}

{% block title %}Search{% endblock %}

{% block head %}
  <script type="text/javascript" src="/static/js/toggle.js"></script>

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/jquery-bonsai@2.1.3/jquery.bonsai.min.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-bonsai@2.1.3/jquery.bonsai.min.js"></script>
{% endblock %}

{% block breadcrumb %}
  <li><a href="/search">Search</a>
{% endblock %}

{% block sidebar %}
  <div id="interaction"></div>

  {% if count > 10 %}
    <nav id="results-per-page" class="pagination">
      <span class="page-item{% if perpage == 10 %} active{% endif %}"><a class="page-link" href="/search?query={{ query.replace(" ", "+") }}&page=1&perpage=10">10</a></span>
      <span class="page-item{% if perpage == 50 %} active{% endif %}"><a class="page-link" href="/search?query={{ query.replace(" ", "+") }}&page=1&perpage=50">50</a></span>
      <span class="page-item{% if perpage == 2**63-1 %} active{% endif %}"><a class="page-link" href="/search?query={{ query.replace(" ", "+") }}&page=1&perpage=oo">&infin;</a></span>

      <p>results per page</span>
    </nav>
  {% endif %}

{% endblock %}

{% block hamburger %}
{% endblock %}

{% block body %}
<h2>Search</h2>
<form action="/search">
  <label for="query">Keywords</label>
  <input type="search" class="form-control" name="query" id="query" placeholder="keywords or a tag" autofocus value="{{ query | e }}">
</form>

<hr>

{% if count == -1 %}
  <p>This query returned too many search results, please refine it.
{% else %}
  {% if count > perpage %}
    <nav>
      <ul id="pages" class="pagination flex-wrap">
      {% for i in range(1, ((count - 1) // perpage) + 2) %}
        <li class="page-item{% if i == page %} active{% endif %}"><a class="page-link" href="/search?query={{ query.replace(" ", "+") }}&page={{ i }}&perpage={{ perpage }}">{{ i }}</a>
      {% endfor %}
      </ul>
    </nav>
  {% endif %}

  <h2>{% if count == 0 %}No{% else %}{{ count }}{% endif %} result{% if count != 1 %}s{% endif %}
    {% if count > perpage %}
      (now showing results {{ perpage * (page - 1) + 1 }}&ndash;{{ [perpage * page, count] | sort | first }})
    {% endif %}
  </h2>

  {% if misspellt | length > 0 %}
  <p>The keyword{{ "(s)" if misspellt | length > 1 }} {% for keyword in misspellt %}<var>{{ keyword }}</var>{{ ", " if not loop.last }}{% endfor %} {% if misspellt | length == 1 %}is{% else %}are{% endif %} spellt differently in the Stacks project.
  <p>Do you perhaps want to search for <a href="/search?query={{ alternative }}"><var>{{ alternative }}</var></a>?
  {% endif %}

  <ol id="search-results">

    {% if tree %}
      <ul class="tree">
      {% for item in tree recursive %}
        <li class="expanded">
        <span class="preview-title">{{ item.type | capitalize }} <a href="/tag/{{ item.tag }}" data-tag="{{ item.tag }}">{{ item.ref }}</a>{% if item.name %}: {{ item.name | safe }}{% endif %}</span>

        {% if item.type not in headings %}
          <div class="html preview tex2jax_ignore">
            {{ item.html | safe }}
          </div>
        {% endif %}

        {% if item.children %}
          <ul>{{ loop(item.children) }}</ul>
        {% endif %}
      {% endfor %}
      </ul>

      <script type="text/javascript">
$("ul.tree").bonsai({
  addExpandAll: true,
});

// CSS doesn't have a parent selector so we mimick it in jQuery
$("ul.tree li div.preview").parent().prepend("<span class='previewable'>&#128269;</span>")

$("span.previewable").click(function(e) {
  $(e.target).siblings("div.preview").toggle();
  $(e.target).siblings("span.preview-title").toggle();

  // update MathJax
  $(e.target).siblings("div.preview").removeClass("tex2jax_ignore");
  MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
});
      </script>
    {% endif %}
  </ol>
{% endif %}
{% endblock %}
