{% extends "layout.html" %}

{% block title %}Tag {{ tag.tag }}{% endblock %}

{% block body %}
<h2>Tag {{ tag.tag }}</h2>

{% if breadcrumb %}
  <ul class="breadcrumb">
  {% for parent in breadcrumb %}
    <li><a href="{{ tagURL(parent.tag) }}">{{ parent.type | capitalize }} {{ parent.ref }}: {{ parent.labelname.name }}</a>
  {% endfor %}
  </ul>
{% endif %}

<div class="html">
  {{ html | safe }}

  {% if footnotes %}
    <section id="footnotes">
    {% for footnote in footnotes %}
      <div id="footnote-{{ loop.index }}"><a href="#footnote-{{ loop.index }}-mark">[{{ loop.index }}]</a> {{ footnote.html | safe }}</div>
    {% endfor %}
    </section>
  {% endif %}
</div>
{% endblock %}
