{% extends "layout.html" %}

{% block title %}Tag {{ tag.tag }}{% endblock %}

{% block body %}
<h2>Tag {{ tag.tag }}</h2>

{% if breadcrumb %}
  <ul class="breadcrumb">
  {% for parent in breadcrumb %}
    <li><a href="{{ tagURL(parent.tag) }}">{{ parent.type | capitalize }} <span data-tag="{{ parent.tag }}">{{ parent.ref }}</span>: {{ parent.labelname.name }}</a>
  {% endfor %}
  </ul>
{% endif %}

<ul class="neighbours">
{% if neighbours[0] %}
  <li><a href="{{ tagURL(neighbours[0].tag) }}">{{ neighbours[0].type | capitalize }} <span data-tag="{{ neighbours[0].tag }}">{{ neighbours[0].ref }}</span></a>
{% endif %}
{% if neighbours[1] %}
  <li><a href="{{ tagURL(neighbours[1].tag) }}">{{ neighbours[1].type | capitalize }} <span data-tag="{{ neighbours[1].tag }}">{{ neighbours[1].ref }}</span></a>
{% endif %}
</ul>

<div class="html">
  {{ html | safe }}

  {% if tree %}
    <ul class="tree">
    {% for item in tree recursive %}
      <li>{{ item.type | capitalize }} <a href="{{ tagURL(item.tag) }}" data-tag="{{ item.tag }}">{{ item.ref }}</a>{% if item.labelname.name %}: {{ item.labelname.name | safe }}{% endif %}
      {% if item.children %}
        <ul>{{ loop(item.children) }}</ul>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}

  {% if footnotes %}
    <section id="footnotes">
    {% for footnote in footnotes %}
      <div id="footnote-{{ loop.index }}"><a href="#footnote-{{ loop.index }}-mark">[{{ loop.index }}]</a> {{ footnote.html | safe }}</div>
    {% endfor %}
    </section>
  {% endif %}
</div>

<script type="text/javascript">
var link = $("#mobile-nav-2").append("<li><a href='#'>toggle</a>")
</script>
{% endblock %}
