{% extends "layout.html" %}

{% block title %}Tag {{ tag.tag }}{% endblock %}

{% block head %}
  <script type="text/javascript" src="/static/js/toggle.js"></script>
  <script type="text/javascript" src="/static/js/comments.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/jquery-bonsai@2.1.2/jquery.bonsai.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-bonsai@2.1.2/jquery.bonsai.min.js"></script>
{% endblock %}

{% block breadcrumb %}

{% for parent in breadcrumb %}
  <li{% if loop.last %} class="active"{% endif %}>{{ parent.type | capitalize }} <a href="{{ tagURL(parent.tag) }}" data-tag="{{ parent.tag }}">{{ parent.ref }}</a>{% if parent.name %}: {{ parent.name | safe }}{% endif %}
  {% if loop.last %}<span id="citation">(<a href="{{ tagURL(parent.tag) }}/cite">cite</a>)</span>{% endif %}
{% endfor %}

{% endblock %}

{% macro neighboursMacro(neighbours) %}

<ul class="neighbours">
{% if neighbours[0] %}
  <li class="left"><a href="{{ tagURL(neighbours[0].tag) }}">previous {{ neighbours[0].type }}</a>
{% endif %}
{% if neighbours[1] %}
  <li class="right"><a href="{{ tagURL(neighbours[1].tag) }}">next {{ neighbours[1].type }}</a>
{% endif %}
</ul>
{% if neighbours[0] or neighbours[1] %}<br style="clear:both">{% endif %}

{% endmacro %}

{% block hamburger %}
  {{ neighboursMacro(neighbours) }}
{% endblock %}

{% block body %}
<div class="html">
  {% if "slogan" in extras %}
    <p class="slogan"><strong>{{ extras["slogan"] | safe }}</strong>
  {% endif %}

  {% if "history" in extras %}
    <p class="history">{{ extras["history"] | safe }}
  {% endif %}

  {% if "reference" in extras %}
    <p class="reference">{{ extras["reference"] | safe }}
  {% endif %}

  {{ html | safe }}

  {% if tree %}
    <ul class="tree">
    {% for item in tree recursive %}
      {% if loop.depth <= depth %}<li class="expanded">{% else %}<li>{% endif %}
      {{ item.type | capitalize }} <a href="{{ tagURL(item.tag) }}" data-tag="{{ item.tag }}">{{ item.ref }}</a>{% if item.name %}: {{ item.name | safe }}{% endif %}
      {% if item.children %}
        <ul>{{ loop(item.children) }}</ul>
      {% endif %}
    {% endfor %}
    </ul>
    <script type="text/javascript">
$("ul.tree").bonsai({
  addExpandAll: true,
});
    </script>
  {% endif %}

  {% if footnotes %}
    <section id="footnotes">
    {% for footnote in footnotes %}
      <div id="footnote-{{ loop.index }}"><a href="#footnote-{{ loop.index }}-mark">[{{ loop.index }}]</a> {{ footnote.html | safe }}</div>
    {% endfor %}
    </section>
  {% endif %}
</div>

{% if commentsEnabled %}
<hr>

<section id="comments">
  <h2>Comments ({{ comments | length }})</h2>

  {% for comment in comments %}
    <a id="comment-{{ comment.id }}" class="header-offset"></a>
    <article>
      <header>
        <p><a href="/tag/{{ tag.tag }}#comment-{{ comment.id }}">Comment #{{ comment.id }}</a>
        by
        {% if comment.site %}<cite><a href="{{ comment.site }}" rel="author">{{ comment.author }}</a></cite>
        {% else %}<cite>{{ comment.author }}</cite>{% endif %}
        on <time datetime="{{ comment.date }}">{{ comment.date.strftime("%B %d, %Y at %H:%M %Z") }}</time>
      </header>

      <blockquote>{{ comment.comment | safe }}</blockquote>
    </article>
  {% endfor %}

  {% if parentComments %}
    <p>There are also:
    <ul>
      {% for parent in parentComments %}
        <li>{{ parent[1] }} comment(s) on {{ parent[0].type | capitalize }} <a href="{{ tagURL(parent[0].tag) }}#comments" data-tag="{{ parent[0].tag }}">{{ parent[0].ref }}</a>{% if parent[0].name %}: {{ parent[0].name | safe }}{% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</section>

<hr>

<section id="post-comment">
  <h2>Post a comment</h2>
  <p>Your email address will not be published. Required fields are marked.
  <p>In your comment you can use <a href="/markdown">Markdown</a> and LaTeX style mathematics (enclose it like <code>$\pi$</code>). A preview option is available if you wish to see how it works out (just click on the eye in the lower-right corner).
  <noscript><p>Unfortunately JavaScript is disabled in your browser, so the comment preview function will not work.</noscript>

  <p>All contributions are licensed under the <a href="https://github.com/stacks/stacks-project/blob/master/COPYING">GNU Free Documentation License</a>.

  <form name="comment" id="comment-form" action="/post-comment" method="post">
    <label for="name">Name<sup>*</sup>:</label>
    <input type="text" name="name" id="name" required><br>

    <label for="mail">E-mail<sup>*</sup>:</label>
    <input type="email" name="mail" id="mail" required><br>

    <label for="site">Site:</label>
    <input type="url" name="site" id="site"><br>

    <label>Comment:</label>
    <textarea name="comment" id="comment-textarea" cols="80" rows="10"></textarea>
    <script type="text/javascript" src="/static/js/editor.js"></script>

    <p>In order to prevent bots from posting comments, we would like you to prove that you are human. You can do this by <em>filling in the name of the current tag</em> in the following box. So in case this where tag&nbsp;<span class="tag">0321</span> you just have to write&nbsp;<span class="tag">0321</span>. Beware of the difference between the letter&nbsp;'<span class="tag">O</span>' and the digit&nbsp;'<span class="tag">0</span>'.<p>This <abbr title="Completely Automated Public Turing test to tell Computers and Humans Apart">captcha</abbr> seems more appropriate than the usual illegible gibberish, right?<br>
    <label for="check">Tag:</label>
    <input type="text" name="check" id="check">
    <input type="hidden" name="tag" value="{{ tag.tag }}"><br>

    <input type="submit" id="comment-submit" value="Post comment">
  </form>
</section>
{% endif %}

{% endblock %}

{% block sidebar %}
  <div id="interaction">
  {{ neighboursMacro(neighbours) }}
  </div>

  <div id="information">
  {% if dependencies | length == 1 %}
    There is <a href="/tag/{{ tag.tag }}/statistics#dependencies">1 tag depending on this tag</a>.
  {% elif dependencies | length > 1 %}
    There are <a href="/tag/{{ tag.tag }}/statistics#dependencies">{{ dependencies | length }} tags depending on this tag</a>.
  {% endif %}
  </div>
{% endblock %}
