{% extends "layout.html" %}

{% block title %}Tag {{ tag.tag }}{% endblock %}

{% block head %}
  <script type="text/javascript" src="/static/js/toggle.js"></script>
  <script type="text/javascript" src="/static/js/comments.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/jquery-bonsai@2.1.2/jquery.bonsai.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-bonsai@2.1.2/jquery.bonsai.min.js"></script>
{% endblock %}

{% block breadcrumb %}
  {{ macros.breadcrumb(breadcrumb) }}
{% endblock %}

{% block hamburger %}
  {{ macros.tagHamburger(tag, neighbours, "", dependencies) }}
{% endblock %}

{% block body %}
<div class="html" id="tag">
  {% if "slogan" in extras %}
    <p class="slogan"><strong>{{ extras["slogan"] | safe }}</strong>
  {% endif %}

  {% if "history" in extras %}
    <p class="history">{{ extras["history"] | safe }}
  {% endif %}

  {% if "reference" in extras %}
    <p class="reference">{{ extras["reference"] | safe }}
  {% endif %}

  {{ html | safe }}

  {% if tree %}
    <ul class="tree">
    {% for item in tree recursive %}
      {% if loop.depth <= depth %}<li class="expanded">{% else %}<li>{% endif %}
      {{ item.type | capitalize }} <a href="/tag/{{ item.tag }}" data-tag="{{ item.tag }}">{{ item.ref }}</a>{% if item.name %}: {{ item.name | safe }}{% endif %}
      {% if item.children %}
        <ul>{{ loop(item.children) }}</ul>
      {% endif %}
    {% endfor %}
    </ul>
    <script type="text/javascript">
$("ul.tree").bonsai({
  addExpandAll: true,
});
    </script>
  {% endif %}

  {% if footnotes %}
    <section id="footnotes">
    {% for footnote in footnotes %}
      <div id="footnote-{{ loop.index }}"><a href="#footnote-{{ loop.index }}-mark">[{{ loop.index }}]</a> {{ footnote.html | safe }}</div>
    {% endfor %}
    </section>
  {% endif %}
</div>

{% if commentsEnabled %}
<hr>

<section id="comments">
  <h2>Comments ({{ comments | length }})</h2>

  {% for comment in comments %}
    <a id="comment-{{ comment.id }}" class="header-offset"></a>
    <article>
      <header>
        <p><a href="/tag/{{ tag.tag }}#comment-{{ comment.id }}">Comment #{{ comment.id }}</a>
        by
        {% if comment.site %}<cite><a href="{{ comment.site }}" rel="author">{{ comment.author }}</a></cite>
        {% else %}<cite>{{ comment.author }}</cite>{% endif %}
        on <time datetime="{{ comment.date }}">{{ comment.date.strftime("%B %d, %Y at %H:%M %Z") }}</time>
      </header>

      <blockquote>{{ comment.comment | safe }}</blockquote>
    </article>
  {% endfor %}

  {% if parentComments %}
    <p>There are also:
    <ul>
      {% for parent in parentComments %}
        <li>{{ parent[1] }} comment(s) on {{ parent[0].type | capitalize }} <a href="/tag/{{ parent[0].tag }}#comments" data-tag="{{ parent[0].tag }}">{{ parent[0].ref }}</a>{% if parent[0].name %}: {{ parent[0].name | safe }}{% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</section>

<hr>

<section id="post-comment">
  <h2>Post a comment</h2>
  <p>Your email address will not be published. Required fields are marked.
  <p>In your comment you can use <a href="/markdown">Markdown</a> and LaTeX style mathematics (enclose it like <code>$\pi$</code>). A preview option is available if you wish to see how it works out (just click on the eye in the lower-right corner).
  <noscript><p>Unfortunately JavaScript is disabled in your browser, so the comment preview function will not work.</noscript>

  <p>All contributions are licensed under the <a href="https://github.com/stacks/stacks-project/blob/master/COPYING">GNU Free Documentation License</a>.

  <form name="comment" id="comment-form" action="/post-comment" method="post">
    <label for="name">Name<sup>*</sup>:</label>
    <input type="text" name="name" id="name" required><br>

    <label for="mail">E-mail<sup>*</sup>:</label>
    <input type="email" name="mail" id="mail" required><br>

    <label for="site">Site:</label>
    <input type="url" name="site" id="site"><br>

    <label>Comment:</label>
    <textarea name="comment" id="comment-textarea" cols="80" rows="10"></textarea>
    <script type="text/javascript">
var simplemde = new SimpleMDE({
  autosave: {
    enabled: true,
    delay: 1000,
    uniqueId: "comment-{{ tag.tag }}",
  },
  element: $("#comment")[0],
  forceSync: true,
  insertTexts: { link: ["\\ref{", "}"], inline: ["$", "$"], display: ["$$", "$$"] },
  placeholder: "You can type your comment here, use the preview option to see what it will look like.",
  previewRender: function(plaintext, preview) {
    // deal with references
    plaintext = plaintext.replace(/\\ref\{([0-9A-Z]{4})\}/g, "[$1](/tag/$1)");
    // deal with \[\] getting replaced to []
    plaintext = plaintext.replace(/\\\[/g, "\\begin{equation}");
    plaintext = plaintext.replace(/\\\]/g, "\\end{equation}");

    output = this.parent.markdown(plaintext);

    setTimeout(function() {
      preview.innerHTML = output;
      MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
    }, 0);

    return "";
  },
  spellChecker: false,
  status: false,
  toolbar: [
    "link", "|",
    "bold", "italic", "|",
    "ordered-list", "unordered-list", "|",
    "preview"
  ],
});

// make sure to show tags, not numbers
simplemde.codemirror.on("change", function() {
  $("input#burger-toggle-tags").click();
});

// prevent form submit when the captcha isn't correct
// it's a bit silly to use HTML5 validation for this, as bots can figure that out
simplemde.element.form.addEventListener("submit", function(event) {
  if ($("#check").val() != $("#hidden-tag").val()) {
    $("#captcha-message").toggle();
    event.preventDefault();
    return false;
  }
});
    </script>

    <p>In order to prevent bots from posting comments, we would like you to prove that you are human. You can do this by <em>filling in the name of the current tag</em> in the following box. So in case this where tag&nbsp;<span class="tag">0321</span> you just have to write&nbsp;<span class="tag">0321</span>. Beware of the difference between the letter&nbsp;'<span class="tag">O</span>' and the digit&nbsp;'<span class="tag">0</span>'.<p>This <abbr title="Completely Automated Public Turing test to tell Computers and Humans Apart">captcha</abbr> seems more appropriate than the usual illegible gibberish, right?<br>
    <label for="check">Tag:</label>
    <input type="text" name="check" id="check" required autocomplete="off">
    <button type="submit" class="btn btn-primary">Post comment</button>
    <input type="hidden" name="tag" id="hidden-tag" value="{{ tag.tag }}"><br>

    <p id="captcha-message" style="display: none" class="alert alert-warning" role="alert">The tag you filled in for the captcha is wrong. You need to write <span class="tag">{{ tag.tag }}</span>, in case you are confused.</p>
  </form>
</section>

<br><br>
<div class="alert alert-info">This is the <strong>test version</strong> of the new website for the Stacks project. If you encounter an issue, please create an issue at
  <ul>
    <li><a href="https://github.com/pbelmans/plastex"><code>pbelmans/plastex</code></a> if it relates to what the HTML of a single tag looks like (or you can leave a comment)
    <li><a href="https://github.com/pbelmans/gerby-website"><code>pbelmans/gerby-website</code></a> if it relates to anything else (or if you are unsure)
  </ul>
</div>
{% endif %}

{% endblock %}

{% block sidebar %}
  {{ macros.tagSidebar(tag, neighbours, "", dependencies) }}
{% endblock %}
