{% extends "layout.html" %}

{% block title %}Statistics for tag {{ tag.tag }}{% endblock %}

{% block head %}
  <script type="text/javascript" src="/static/js/toggle.js"></script>
{% endblock %}

{% block breadcrumb %}
  {{ macros.breadcrumb(breadcrumb) }}
{% endblock %}

{% block hamburger %}
  {{ macros.tagHamburger(tag, neighbours, "/statistics", dependencies) }}
{% endblock %}

{% block body %}
<h2>Statistics of tag <span class="tag">{{ tag.tag }}</span></h2>
<p><a href="/tag/{{ tag.tag }}">Go back to the tag's page</a>.

<table class="table">
  <tr>
    <td>number of preliminary results</td>
    <td>{{ statistics.preliminaries }}</td>
  </tr>
  <tr>
    <td>number of results (indirectly) using this tag</td>
    <td>{{ statistics.consequences }}</td>
  </tr>
  <tr>
    <td>number of chapters used</td>
    <td>{{ statistics.chapters }}</td>
  </tr>
  <tr>
    <td>number of sections used</td>
    <td>{{ statistics.sections }}</td>
  </tr>
</table>

{% if dependencies | length > 0 %}
<h3 id="dependencies">Tags (directly) using this result</h3>
<ul>
{% for dependency in dependencies %}
  <li>{{ dependency.tag.type | capitalize }} <a href="/tag/{{ dependency.tag.tag }}" data-tag="{{ dependency.tag.tag }}">{{ dependency.tag.ref }}</a>
  in {{ dependency.parent.type | capitalize }} <a href="/tag/{{ dependency.parent.tag }}" data-tag="{{ dependency.parent.tag }}">{{ dependency.parent.ref }}</a>: {{ dependency.parent.name }}
    <br>(go to <a href="/tag/{{ dependency.tag.tag }}/statistics">statistics</a>)
{% endfor %}
</ul>
{% endif %}

{% endblock %}

{% block sidebar %}
  {{ macros.tagSidebar(tag, neighbours, "/statistics", dependencies) }}
{% endblock %}

