{% extends "layout.html" %}

{% block title %}Chapter {{ tag.ref }}{% endblock %}

{% block head %}
  <script type="text/javascript" src="/static/js/toggle.js"></script>
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block hamburger %}
  <div class="interaction"></div>
{% endblock %}

{% block body %}
  <h2>Chapter {{ tag.ref }}</h2>

  <div class="alert alert-warning">
    <p>The Stacks project <a href="/tags">uses tags</a> as means of identifying results. Chapter numbers on the other hand can change over time when new results are added. So it's not guaranteed that this URL is still up-to-date.
    <p>Right now chapter {{ tag.ref }} refers to <a href="/tag/{{ tag.tag }}">Chapter <span data-tag="{{ tag.tag }}">{{ tag.ref }}</span>: {{ tag.name | safe }}</a>.
  </div>
{% endblock %}

{% block sidebar %}
  <div class="interaction"></div>
{% endblock %}

