{% extends "layout.html" %}

{% block title %}{{ tag }} is not a valid tag{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block body %}
<h2 class="error"><span class="tag">{{ tag }}</span> is not a valid tag</h2>

<p>The format for a tag can be found on the <a href="/tags">tags explained</a> page. In short:</p>
<ul>
  <li>4 symbols long
  <li>using digits and uppercase letters
  <li>excluding the letter <var>O</var> in favour of the digit <var>0</var> (except that this rule didn't exist in the very beginning of the Stacks project)
</ul>
{% endblock %}

